<div class="sports">
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
    <mat-card>
      <mat-card-title>Football</mat-card-title>
      <mat-card-content>Description ...</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>Voir Etablissements</button>
      </mat-card-actions>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Tennis</mat-card-title>
        <mat-card-content>Description ...</mat-card-content>
        <mat-card-actions>
          <button mat-flat-button>Voir Etablissements</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Rugby</mat-card-title>
        <mat-card-content>Description ...</mat-card-content>
        <mat-card-actions>
          <button mat-flat-button>Voir Etablissements</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Boxe</mat-card-title>
        <mat-card-content>Description ...</mat-card-content>
        <mat-card-actions>
          <button mat-flat-button>Voir Etablissements</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>