<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Adopte un frigo</span>
    </div>
    <mat-form-field>
      <input matInput placeholder="Recherche">
    </mat-form-field>
    
  </mat-toolbar-row>
</mat-toolbar>
<div class="main">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-list class="navigation">
        <mat-list-item>
          <h3 mat-line>Prenom NomUser</h3>
          <p mat-line>adressemailuser@user.com</p>
        </mat-list-item>
        <mat-list-item routerLink="dashboard">
            <mat-icon matListIcon>home</mat-icon>
            <h4 mat-line>Accueil</h4> 
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Ma bouffe</h3>
        <mat-list-item routerLink="fridge">
            <mat-icon matListIcon>kitchen</mat-icon>
            <h4 mat-line>Mon frigo</h4> 
        </mat-list-item>
        <mat-list-item routerLink="recipes">
            <mat-icon matListIcon>restaurant</mat-icon>
            <h4 mat-line>Recettes</h4>
        </mat-list-item>
        <mat-list-item routerLink="scan"> 
            <mat-icon matListIcon>crop_free</mat-icon>
            <h4 mat-line>Scanner un reçu</h4>
        </mat-list-item>
        <mat-list-item routerLink="shopping"> 
            <mat-icon matListIcon>shopping_basket</mat-icon>
            <h4 mat-line>Courses</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Mes recettes</h3>
        <mat-list-item routerLink="recipe/1">
            <mat-icon matListIcon>restaurant_menu</mat-icon>
            <h4 mat-line>Recette 1</h4>
        </mat-list-item>
        <mat-list-item routerLink="recipe/2">
            <mat-icon matListIcon>restaurant_menu</mat-icon>
            <h4 mat-line>Recette 2</h4>
        </mat-list-item>
        <mat-list-item routerLink="recipe/3"> 
            <mat-icon matListIcon>restaurant_menu</mat-icon>
            <h4 mat-line>Recette 3</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
