<div class="dashboard">
  <mat-grid-list cols="4">
    <mat-grid-tile [colspan]="3" [rowspan]="1" class="fridge-tile">
      Mon frigo
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="recipe-tile">Recettes</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="perish-tile">Périssable</mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="scan-tile">Scanner un ticket</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="new-recipe-tile">Créer une recette</mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1" class="connect-tile">Connecter</mat-grid-tile>
  </mat-grid-list>
</div>